<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.todo.mappers.TodoMapper">

<select id="getList" resultType="org.zerock.todo.dto.TodoDTO">
select * from tbl_todo
where tno>0
order by tno desc
limit #{skip}, #{size}
</select>

<select id="listCount" resultType="long">
select count(*)
from
        (select tno from tbl_todo 
        where tno>0 limit #{countEnd}) todo
</select>

</mapper>